{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='grid.css')}}">

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class=flashes id="flash">
    {% for category, message in messages %}
      <div class="alert {{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<main class="flex-shrink-0">
    <div id="loading" class="loader">Loading...</div>
    <div class="container">
        <h1 class="mt-5">Reconocimiento Facial</h1>
        <p class="lead">Subir a continuación una imágen a la que desea encontrar simulitudes en nuestra base de datos:</p>
        <form action="{{ url_for('search') }}" method="post" enctype="multipart/form-data">
            <div>
                <input type="file" class="form-control-file mb-4 mt-2" id="file" accept="image/x-png,image/jpeg" name="file">
            </div>
            <input class="form-control" type="number" min="4" value="16" name="numElement" id="numElement">
            <div id="x" class="form-text">Seleccione el número de respuestas.</div>
            <button  class="btn btn-primary mt-3" onclick="loading();">Buscar</button>
            </div>
        </form>
    </div>
    {% if images_output %}
    <div class="container">
        <div class="row"> 
            <div class="column">
            {% for image in images_output %}
                <img src="{{image}}" style="width:100%">
                {% if loop.index  % ((loop.length)//4) == 0 %}
                    </div>
                    <div class="column">
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>    
    {% endif %}

    </div>
</main>

<script type="text/javascript" src="{{ url_for('static', filename='search.js') }}"></script>

{% endblock %}
