{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='cardStyle.css') }}">

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class=flashes>
    {% for category, message in messages %}
      <div class="alert {{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<main class="flex-shrink-0">
    <div id="loading" class="loader">Loading...</div>
    <div class="container" id="uploader">
        <h1 class="mt-5">Búsqueda de imágenes: Tweets</h1>
        <p class="lead">Suba su archivos en formato JSON a continuación: </p>
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <div>
                <input type="file" class="form-control-file mb-4 mt-2" id="file" accept="application/json" name="file" multiple>
            </div>
            <select class="form-control" id="numeroBloques" name="numeroBloques">
                    <option>8</option>
                    <option>16</option>
                    <option>32</option>
                    <option>64</option>
                </select>
                <div id="x" class="form-text mb-4">Seleccione el número de bloques.</div>
            <div>
                <button  class="btn btn-primary" onclick="loading();">Agregar</button>
            </div>
        </form>
    </div>

    <div class="container">
        <h1 class="mt-5">Buscador de Tweets</h1>
        <p class="lead">Ingrese su búsqueda a continuación: </p>
        <form action="javascript:void(0);" method="post">
        <div class="mb-3">
            <input type="text" class="form-control" id="searchString" name="searchString">
            <div id="stringHelp" class="form-text">Ingrese su búsqueda a continuación.</div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                <select class="form-control" id="numElement" name="numElement">
                    <option>10</option>
                    <option>1</option>
                    <option>25</option>
                    <option>50</option>
                </select>
                <div id="x" class="form-text">Seleccione el número de respuestas.</div>
            </div>
        </div>
        <button type="button" onClick="buscar()" class="btn btn-primary">Buscar</button>
        </form>
    </div>

    <div class="container">
        <div id="titulo"></div>
        <div id="resultados"></div>
    </div>
</main>

<script type="text/javascript" src="{{ url_for('static', filename='search.js') }}"></script>

{% endblock %}
